Repository DesignSync-Int/chatterBackend: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, npm audit --audit-level=moderate

.lintstagedrc.json:

{
  "*.js": ["eslint --fix", "prettier --write"],
  "*.{json,md}": ["prettier --write"],
  "package.json": ["npm audit --audit-level=moderate"]
}

feat: add resend verification email endpoint
  src/controllers/auth.controller.js
  src/routes/auth.route.js
Due: eslint --fix, prettier --write

Fix module import issues for deployment
  AI_INTEGRATION.md
  jest.config.json
  package-lock.json
  package.json
  src/controllers/ai.controller.js
  src/controllers/analytics.controller.js
  src/controllers/auth.controller.js
  src/controllers/message.controller.js
  src/index.js
  src/lib/emailService.js
  src/middleware/captcha.middleware.js
  src/models/user.model.js
  src/routes/ai.route.js
  src/routes/analytics.route.js
  src/routes/auth.route.js
  tests/controllers/ai.controller.test.js
  tests/controllers/auth.controller.test.js
  tests/lib/emailService.test.js
  tests/setup.js
Due: eslint --fix, prettier --write, npm audit --audit-level=moderate

fix
  render.yaml
Due: none

feat: Add ChatterBot welcome message for guest users
  src/controllers/auth.controller.js
Due: eslint --fix, prettier --write

fix: Add health check endpoint for debugging route mounting
  src/index.js
Due: eslint --fix, prettier --write
